.card {
    width: 600px;
    min-height: 600px;
    /* height: 600px; */
    background-color: rgb(17 24 39);

    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    color: #fff;
}

.card:hover {
    -webkit-transform: scale(1.021);
    -ms-transform: scale(1.021);
    transform: scale(1.021);
}

.card:active {
    -webkit-transform: scale(0.95) rotateZ(1.1deg);
    -ms-transform: scale(0.95) rotate(1.1deg);
    transform: scale(0.95) rotateZ(1.1deg);
}

/* @media (max-width: 768px) {
    .card {
        width: 400px;
        height: 520px;
    }
} */

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin-bottom: 3rem;
    }

    .card-group {
        justify-content: space-between;
    }
}