.load {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    float: left;
}

.progress {
    top: 50%;
    left: -80%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    -webkit-animation: loading_492 2s ease infinite;
    animation: loading_492 2s ease infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes loading_492 {
    0% {
        width: 0%;
        height: 0%;
    }

    50% {
        width: 99%;
        height: 99%;
    }

    100% {
        width: 0%;
        height: 0%;
    }
}

@keyframes loading_492 {
    0% {
        width: 0%;
        height: 0%;
    }

    50% {
        width: 99%;
        height: 99%;
    }

    100% {
        width: 0%;
        height: 0%;
    }
}

.progress:nth-child(2) {
    left: 50%;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.progress:nth-child(3) {
    left: 180%;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}